:root {
    --primary-color: #4da6ff;
    --secondary-color: #66cc66;
    --tertiary-color: #cc66cc;
    --footer-color: #0066cc;
}

.container { /*Desktop nézet*/
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr ;  
    grid-template-areas: 
        "site-header site-main widget-area"
        "site-header site-main widget-area"
        "site-header site-main widget-area"
        "site-header site-footer widget-area";
    gap: 10px;
    min-height: 98vh;
}

.site-header {
    grid-area: site-header;
    background: var(--primary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.site-main {
    grid-area: site-main;
    background: var(--secondary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.widget-area {
    grid-area: widget-area;
    background: var(--tertiary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.site-footer {
    grid-area: site-footer;
    background-color: var(--footer-color);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 768px) { /*Tabletes nézet*/
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: 
            "site-header site-main" 
            "site-header widget-area"
            "site-header widget-area"
            "site-header site-footer";
        gap: 5px;
        min-height: 98vh;
    }
    .site-header {
        height: auto;
        display: grid;
    }
    .site-header {
        height: auto;
        display: grid;
    }
    .site-main {
        height: auto;
        display: grid;
    }
    .widget-area {
        height: auto;
        display: grid;
    }
}
@media (max-width: 480px) { /*Mobilos nézet*/
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "site-header" 
            "site-main" 
            "widget-area"
            "site-footer";
        gap: 5px;
        min-height: 98vh;
    }
    .site-header {
        height: auto;
        display: grid;
    }
    .site-main {
        height: auto;
        display: grid;
    }
    .widget-area {
        height: auto;
        display: grid;
    }
}
